mixin icon(iconName, iconClass)
  svg(class=`${iconClass}`)
    use(xlink:href=`./assets/images/icons/sprite.svg#${iconName}`)

mixin image(imagePath, imageAlt, imageClass)
  img(src=`./assets/images/${imagePath}`, alt=`${imageAlt}`, class=`${imageClass}`)

mixin social(socialItems, className, mod)
  div(class=`${className} ${mod}`)
    ul(class=`${className}__list`)
      each value, key in socialItems
        li(class=`${className}__item`)
          a(class=`${className}__link` href=`${value}` target="_blank")
            +icon(`${key}`, `${className}__icon`)

mixin menu(items, className, mod)
  nav(class=`${className} ${mod}`)
    ul(class=`${className}__list`)
      each item in items
        li(class=`${className}__item`)
          a(class=`${className}__link` href=`${item[0]}`)= item[1]

mixin user(photo, name, text, mod)
  div.user(class=`${mod}`)
    .user__photo(style=`background-image: url('${photo}');`)
    .user__description
      .user__title= name
      .user__text= text

mixin triangles(mod)
  .triangles(class=`${mod}`)
    svg.triangle.triangles__left(viewBox="0 0 100 100" preserveAspectRatio="none")
      polygon(points="0 100, 100 100, 0 0")
    svg.triangle.triangles__right(viewBox="0 0 100 100" preserveAspectRatio="none")
      polygon(points="0,100 100,0 100,100")